:root {
    --orange: #f35c28;
    --topbar-black: #030f27;
    --black-text:#171a1e;
    --light-blue: #8998c2;
    --light-gray: #DDDDDD;
    --max-container-width: 90%;
    --container-width: 90%;
  }
