@import "../variables.css";

.image-text-center-row{
  --image-text-center-row-height: auto;
  --bg-color-text-block: #dddddd;


  height: var(--image-text-center-row-height);
  width: 100vw;
  background: var(--bg-color-text-block);
  display: flex;
  flex-flow: column wrap;

 

  &__image-container {
    height: var(--image-text-center-row-height);
    flex-basis: 50%;
    overflow: hidden;
    order: 2;
  }

  &__image {
    width: 100%;
  }

  &__color-block {
    background-color: var(--bg-color-text-block);
    flex-basis: 50%;
  }
  .image-text-center-row_container {
    position: relative;

  }

  .image-text-center-row__product-info {
    width:100%;
    margin-left: auto;

    color: #5d6675;
    height: var(--image-text-center-row-height);
    text-align: center;
  }

  .image-text-center-row__product-info__title {
    padding-top: 90px;
    padding-bottom: 36px;
   
    font-size: 44px;
    letter-spacing: -0.01em;
    line-height: 65px;
    text-align: left;
    color: #171a1e;
  }
  .image-text-center-row__product-info__text {
      text-align: left;
  
    font-size: 15px;
    padding-bottom: 100px;

letter-spacing: 0.03em;
line-height: 30px;


  }
}



@media only screen and (min-width: 868px) {
.image-text-center-row{
    --image-text-center-row-height: 412px;
    --bg-color-text-block: var(--orange);
  
    height: var(--image-text-center-row-height);
    width: 100vw;
    background:var(--bg-color-text-block);
    display: flex;
    flex-flow: row wrap;
  
    &__image-container {
      height: var(--image-text-center-row-height);
      flex-basis: 50%;
      overflow: hidden;
      order: 2;
      position: relative;
  top: calc(-1 * var(--image-text-center-row-height));
    
  
    }

    .bg--white{
        background-color:var(--orange);
    }
    .bg--peppers{
        background-image: url('../../assets/images/peppers.png');
    }
    .bg--carton{
        background-image: url('../../assets/images/bg-carton.png');
    }

    .bg--embalaje-madera{
      background-image: url('../../assets/images/embalaje-madera.png');
      background-position: center;
    }
    .bg--tarima{
      background-image: url('../../assets/images/bg-tarima.png');
      background-position: center;
    }
    .bg--carpinteria{
      background-image: url('../../assets/images/bg-tarima.png');
      background-position: center;
    }
      .bg--carpinteria{
      background-image: url('../../assets/images/embalaje-madera');
      background-position: center;
    }


    .bg--brocoli{
        background-image: url('../../assets/images/brocoli.png');
        background-position: center;
    }
  
  
  
    .bg--mango{
        background-image: url('../../assets/images/mango.jpg');
        background-position: center;
    }
    .bg--orange{
        background-color: var(--orange);
    }
  

    .bg--blue{
      background-color: var(--blue-black  );
  }
  
    &__image {
      width: 100%;
     visibility: hidden;
    
    }
  
    &__color-block {
  order: 0;
      flex-basis: 50%;    
      background-repeat: no-repeat;
      background-size: cover;
    }
    .bg-berries{
      background-image: url('../../assets/images/blueberry.png');
      background-position: center;
    }

    .image-text-center-row_container {
      position: relative;
      top: -20px;
    }
  
 
    .image-text-center-row__product-info {
      margin-left: auto;
      margin-right: 0;
      max-width: 524px;
  
    
  
      color: #5d6675;
      height: var(--image-text-center-row-height);
    }
  
    .image-text-center-row__product-info__title {
      font-family: Poppins;
      font-weight: 500;
      font-size: 34px;
      line-height: 42px;
      text-align: left;
      color: #fff;
      
    }
    .image-text-center-row__product-info__text {
      max-width: 514px;
      height: 227px;
      font-family: Poppins;
      font-weight: normal;
      font-size: 20px;
      letter-spacing: -0.01em;
      line-height: 34px;
      text-align: left;
      color: #fff;
      
    }
  }
}