

    .product-card{
        width: 239px;
        max-height: 209px;
        margin: auto;
        padding: 2rem 0;
        
            }
        
            .product-card__icon{
              margin: auto;
              width: 40px;
        height: 40px;
        
        
        
            }
            .product-card__title{ 
              padding-top: 31px;
        font-weight: 600;
        font-size: 21px;
        letter-spacing: 0.03em;
        line-height: 27px;
        text-align: center;
        color: #1e2227;
        
        padding-bottom: 26px;
        }
        
        .product-card__text{
        
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 26px;
        text-align: center;
        color: #5D6675;
        max-width: 90%;
        margin: auto;
        }
        