
@import 'modules/variables.css';
@import 'modules/buttons/buttons.css';
@import 'modules/header/menu-header.css';
@import 'modules/product-card/product-card.css';
@import 'modules/product-grid/product-grid.css';
@import 'modules/topbar/topbar.css';
@import 'modules/info-box/info-box.css';
@import 'modules/nuestra-empresa/nuestra-empresa.css';    
@import 'modules/servicios/servicios.css';    
@import 'modules/contacto/contacto.css';    
@import 'modules/bottom-bar/bottom-bar.css';    
@import 'modules/footer/footer.css';
@import 'modules/seo-title/seo-title.css';
@import 'modules/image-text-row/image-text-row.css';
@import 'modules/image-text-row/image-text-left-row';
@import 'modules/image-text-row/image-text-center.css';
@import 'modules/image-grid/image-grid.css';
@import 'modules/productos-grid/productos-grid.css';
@import 'modules/product-icon-title/product-icon-title.css';


  
.fix{
  color:red!important;
}
    body , button{
      margin: 0;
      font-family: "Poppins", sans-serif;
      box-sizing: border-box;
    }
    
    ::placeholder{ font-family: "Poppins", sans-serif;  letter-spacing: .1em; font-weight: 200;}
    
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    .container {
      max-width: var(--max-container-width);
      width: var(--container-width);
      margin: auto;
      padding: 0 5px;
    }

   
    .ml-auto {
      margin-left: auto;
    }
    .pb-2 {
      padding-bottom: 2rem;
    }

    .fw-light{
      font-weight: 200;
    }
    


    a {
      text-decoration: none;
    }

    



.intro-text{
  width: 303px;
height: 127px;
font-family: Poppins;

font-size: 22px;
letter-spacing: -0.01em;
line-height: 40px;
text-align: left;
color: #171a1e;
margin: auto;

}



.clientes_title{
  

font-size: 30px;
letter-spacing: -0.01em;
line-height: 54px;
text-align: center;
color: #5d6675;

}
.map{
  margin-bottom: -6px;
}

section.cuanto-mide{
 padding-top: 150px;
  background-color:#1C2435;
}
.cuanto-mide-icon-title{
  color:white;
  text-align: center;
  h2{
    font-family: Poppins;
font-weight: normal;
font-size: 39px;
letter-spacing: 0.01em;
line-height: 30px;

color: #fff1fd;

  }
}

section.servicios{
  
    margin-top: 150px;
  margin-bottom: 80px;
}