@import "../variables.css";

  .menu-header {
        height: 111px;
        background: #fff;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
        display: flex;

        a{
          color:#34383C;
        }
        a:hover,.subnav__button:hover{
          color:var(--orange);
  
        }
       
      }
      .menu-header .container {
        flex-basis: var(--container-width);
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
  
      .menu-header__logo-box {
        height: 111px;
        max-width: 151px;
      }
  
      .menu-header__logo {
        width: 151px;
  
        position: relative;
        top: 19px;
      }
  
      .menu-header__nav {
        display: flex;
        align-items: center;
      }
      .menu-header__nav--mobile-menu-active {
        display: none;
      }
  
      .menu-header__nav table {
        max-width: 580px;
        margin-right: 2rem;
      }
  
      .menu-header__nav tr {
        height: 111px;
      }
      .menu-header__nav td:hover {
        box-sizing: content-box;
        border-bottom: 2px solid var(--orange);
      }
  
      .menu-header__nav td {
        padding-left: .5rem;
        padding-right: .5rem;
      }
  
      .menu-header__nav li {
        height: 111px;
        display: flex;
        align-items: center;
      }
  
      .menu-header__nav ul {
        max-width: 578px;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
      }


      .subnav{
        button{
          background-color: white;
          border: none;
          font-size: 16px;
          color:#34383C;
          display: flex;
          align-items: center;
        }

        &__arrow-up{
          display: none;
        }
        &__arrow-up--shown{
          display: block;
        }
        &__arrow-down--not-shown{
          display: none;
        }
      }

    .subnav__items_container {
      display: none;
    }
    .subnav__items_container--show {
      position: absolute;
      top: 113px;
      display: flex;
      flex-direction: column;
    
      margin-left: -32px;

    }

    .subnav__items{
      background-color: white;
      padding: 1rem 2rem;
  
    }

 
    @media only screen and (min-width: 868px) {
      .menu-header__nav--mobile-menu-active {
        display: flex;
      }
      .mobile-menu--active {
        display: none;
      }
    }

    .menu-header__nav__mobile {
      top: 156px;
      left: 0;
      position: absolute;
      width: 100%;
      background:var(--orange);
      padding: 2rem 0;
      height: calc(100vh - 220px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: all 1s;
     
    }

    .menu-header__nav__mobile_container {
      flex-basis: var(--container-width);
      display: flex;

      padding: 0 2.8%;
      flex-direction: column;
    }
    .menu-header__nav__mobile ul {
     
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      flex-basis: var(--container-width);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: 0 2.8%;
      
    }
    .menu-header__nav__mobile__item{
padding:2rem ;
a{

  color:white;
}
    }
 

    ul.social-icon-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    ul.nav__mobile_bottom-row {
      
      text-align: center;
      color:white;
      font-size: 12px;
    }
  

    .menu-header__nav__mobile--hidden{
      

      left: 3056px;
      transition: left 2s;
    }



    .mobile-menu-toogle{
      cursor: pointer;
      display: none;
           }
   
    @media (max-width: 860px) {

  
      .mobile-menu-toogle{
        display: block;
      }
        


        .mobile-menu-toogle__open,.mobile-menu-toogle__close{
          display: none;
        }
        .mobile-menu-toogle__open--active,.mobile-menu-toogle__close--active{
          display: block;
        }

      }